.header {
    background-color: #333;
}
.header img {
    width: 100%;
    opacity: 0.4;
    filter: alpha(opacity=40); /* msie */
}

div.text-wrapper {
    float: left;
    position: relative;
    left: 50%;
}