.container {
  display: flex;
  flex-direction: row;
  padding: 40px 0;
  background-color: #222;
  min-height: 800px;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

div.about-me {
  padding: 20px;
  margin: 0 50px;
}

.about-me h2 {
  background-color: rgba(17,138,178, 0.5);
  color: #fff;
  padding: 10px;
  font-family: 'Pacifico', cursive;
}

p {
  color: white;
}