.cornell {
    display: flex;
    flex-direction: row;
    padding: 50px 60px;
    align-items: center;
    justify-content: space-around;
}

.images {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.images img{
    width: 30%;
}

.wrapper {
    margin-top: 100px;
}

.wrapper h2 {
    font-family: 'Pacifico', cursive;
    font-size: 28.8px;
    color: #222;
    -webkit-text-stroke: #222 2px;
    padding: 15px 0;
}

.wrapper p {
    color: #222;
}

div.text {
    width: 60%;
    margin-right: 100px;
}

.plot {
    margin-bottom: 50px;
}

.plot h3 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.plot p {
    color: #222;
    font-family: sans-serif;
    font-style: italics;    
}
