.App {
  display: flex;
  flex-direction:column;
}

.container {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  justify-content: center;
  padding: 20px;
}

.portrait {
  height: 340px;
  -webkit-box-shadow: 0 0 10px #666;
  box-shadow: 0 0 10px #666;
}

iframe {
  border: none;
}