.App {
  display: flex;
  flex-direction:column;
  align-items: center;
}

.line {
  border: solid 1px rgba(0,0,0,0.1);
  width: 50%;
}

.portrait {
  height: 340px;
  -webkit-box-shadow: 0 0 10px #666;
  box-shadow: 0 0 10px #666;
}


